body {
    background-color: #F8F8F8;
}

div.container {
    width: 960px;
    padding: 10px 50px 50px;
    background-color: white;
    margin: 20px auto;
    box-shadow: 1px 0px 10px, -1px 0px 10px;
}

h1 {
    text-align: center;
    font-family: Cambria, "Times New Roman", serif;
    clear: both;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px black solid;
    width: 100%;
}

th, td {
    padding: 8px 15px;
    border: 1px black solid;
}

tr:nth-child(2n+3) {
    background-color: #F2F2F2;
}